export(posteriorFeasibility)
export(newPMatrix)
export(optimalPortfolios)
export(addBLViews)
export(createBLViews, updateBLViews)
export(BLCOPOptions)
export(posteriorEst, BLPosterior)
export(CAPMList)
export(COPViews, BLViews, distribution, mvdistribution)
exportData(monthlyReturns, sp500Returns, US13wTB)
export(addCOPViews, COPPosterior)
export(createCOPViews)
export(viewMatrix, PMatrix, confidences, "confidences<-", "qv<-", "confidences<-", assetSet, "PMatrix<-")
export(sampleFrom)
export(runBLCOPTestSuite)                                                                                                   
exportClasses(BLViews, COPViews, BLResult, COPResult, distribution, mvdistribution)
exportMethods(show, deleteViews, densityPlots)